/* Custom product CSS File */

.panel-default {

}

.panel-header {

	
}

.panel-title {
	text-transform: capitalize;

	
}

.img-thumbnail {
	width: 200px;
	height: 200px;
	border-radius:3px;
	background-size: cover;
	background-position: center center;
				
}

.panel-body {


}

.panel-footer {
	letter-spacing:1px;
	font-weight:bold;
	
}

